<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" id="divProductDetails">
	
	<th:block th:each="detail, status :${product.productDetails}">
		<div class="form-inline" th:id="'divDetail' + ${status.index}">
			<input type="hidden" name="detailIds" th:value="${detail.id}">
			<label class="m-3">Name:</label>
			<input type="text" class="form-control w-25" name="detailNames" th:value="${detail.name}">
			<label class="m-3">Value:</label>
			<input type="text" class="form-control w-25" name="detailValues"  th:value="${detail.value}">
			
			<a class='m-2 icon-gray fa-regular fa-circle-xmark fa-xl float-right' 
				th:attr="onclick=|removeDetail('${status.index}')|" 
			title='Remove this detail'></a>
		</div>
	</th:block>
	
	<div class="form-inline" th:id="'divDetail' + ${#lists.size(product.productDetails)}">
		<input type="hidden" name="detailIds" value="0">
		<label class="m-3">Name:</label>
		<input type="text" class="form-control w-25" name="detailNames" maxlength="255">
		<label class="m-3">Value:</label>
		<input type="text" class="form-control w-25" name="detailValues" maxlength="255">
	</div>
	
</div>
</body>
</html>