<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove='tag'>
	<div class="row" id="divProductImages">
		<div class="col border m-3 p-2">
			<div><label>Main Image: [[${product.mainImage}]]</label></div>
			<div class="m-2">
				<img id="thumbnail" class="img-fluid" th:src="@{${product.mainImagePath}}">
			</div>
		</div>
			
		<th:block th:each="productImg, status :${product.images}">
			<div class="col border m-3 p-2" th:id="${'divExtraImg' + status.index}">
				<div>
					<label>Extra Image #[[${status.index} + 1]]: [[${productImg.name}]]</label>
				</div>
				<div class="m-2">
					<img th:id="${'extraThumbnail' + status.index}" class="img-fluid" 
					th:src="@{${productImg.extraImage}}">
				</div>
			</div>
		</th:block>
	</div>
</div>
</body>
</html>