<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head('Login', 'none')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div th:replace="navigation:: search_nav"></div>
	
	<div class="text-center m-3">
		<h3>Customer login</h3>
		<div>
			<a class="btn btn-secondary fa-brands fa-google" th:href="@{/oauth2/authorization/google}">&nbsp;Continue With Google</a>
		</div>
		<div class="mt-2"> 
			<a class="btn btn-secondary fa-brands fa-facebook" th:href="@{/oauth2/authorization/facebook}">&nbsp;Continue With Facebook</a>
		</div>
	</div>
	
	<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
		<div th:if="${param.error}" class="text-danger text-center mb-1">
			[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
		</div>
		
		<div th:if="${param.logout}" class="text-warning text-center mb-1">
			You have been logged out!
		</div>
		
		<div class="border border-secondary rounded p-3">
			<p class="text-center">Login to shopapp</p>
			<p>
				<input type="email" name="email" class="form-control" placeholder="Enter your email" required>
			</p>
			<p>
				<input type="password" name="password" class="form-control" placeholder="Enter your password" required>
			</p>
			<p>
				<input type="checkbox" name="remember-me" id="remember-me" /> &nbsp;
				<label for="remember-me">Remember me</label>
			</p>
			<p class="text-center">
				<input type="submit" value="Login" class="btn btn-primary">
			</p>
			<p class="text-center">
				Or <a th:href="@{/forgot_password}">Forgot password?</a>
			</p>
		</div>
	</form>
	
	<div class="text-center mt-1">
		Don't have an account <a th:href="@{/register}">Sign up?</a>
	</div>
	
	<div>&nbsp;</div>
		
	<div th:replace="navigation:: footer_navbar"></div>
</div>
</body>
</html>