<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
<div class="col mt-2" th:fragment="content(statusVar, statusName, iconName)">
	<th:block th:if="${statusVar}">
		<i th:class="'fa-solid ' + ${iconName} + ' icon-green fa-2xl'"></i>
	</th:block>
	<th:block th:unless="${statusVar}">
		<a th:class="'fa-solid ' + ${iconName} + ' fa-2xl linkUpdateStatus icon-gray'"
		th:id="'link' + ${statusName} + ${order.id}"
		th:orderId="${order.id}" th:status="${statusName}"
		th:href="@{'/orders_shipper/update/'+${order.id}+'/' + ${statusName}}"></a>
	</th:block>
</div>

</body>
</html>