<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head('Forgot password', 'none')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div class="text-center">
		<h4>Forgot password</h4>
	</div>
	
	<div class="text-danger text-center mb-3" th:if="${message != null}">
	[[${message}]]
	</div>
	
	<form th:action="@{/forgot_password}" method="post"
		style="max-width: 400px; margin: 0 auto">
		<div class="border border-secondary rounded p-3">
			<p>We will send a reset password link to your email!</p>
			<div>
				<input type="email" placeholder="Enter your email" required
				  name="email" class="form-control" autofocus>
			</div>
			<div class="text-center mt-3">
				<input type="submit" value="Send" class="btn btn-primary">
			</div>
		</div>
	</form>
	
	
	<div>&nbsp;</div>
	<div th:replace="fragments:: modal_dialog"></div>
	<div th:replace="navigation:: footer_navbar"></div>
</div>

<script>
	contextPath = "[[@{/}]]"
</script>
<script th:src="@{/js/common_customer_form.js}"></script>
</body>
</html>