<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head('Reset form', 'none')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	
	<div>
		<h1 class="text-center">Form reset password</h1>
	</div>
	
	<div class="alert alert-success text-center" th:if="${message != null}">
	[[${message}]]
	</div>
	
	<form th:action="@{/reset_password}" method="post"
		style="max-width: 350px; margin: 0 auto">
		<input type="hidden" th:value="${token}" name="token">
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" class="form-control"
				 oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
				 placeholder="Enter your new password" 
				 autofocus name="password" id="password"
				 minlength="6" maxlength="15">
				</p>
			</div>
			<div>
				<p>
				<input type="password" class="form-control" id="confirmPassword" 
				placeholder="Confirm your new password"
					oninput="checkPasswordMatch(this)" minlength="6" maxlength="15">
				</p>
			</div>
			<div class="text-center mt-3">
				<input type="submit" value="Change password" class="btn btn-primary">
			</div>
		</div>
	</form>
	
	
	<div>&nbsp;</div>
	<div th:replace="navigation:: footer_navbar"></div>
</div>

<script>
function checkPasswordMatch(confirmPassword){
	if(confirmPassword.value != $("#password").val()) {
		confirmPassword.setCustomValidity('Password do not match!');
	}else {
		confirmPassword.setCustomValidity('');
	}
}
</script>
</body>
</html>