<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="content" th:remove="tag">
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">E-mail Subject:</label>
		<div class="col-sm-9">
			<input class="form-control" name="CUSTOMER_VERIFY_SUBJECT" th:value="${CUSTOMER_VERIFY_SUBJECT}"
			placeholder="Please verify your registration to continue your shopping">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">E-mail Content:</label>
		<div class="col-sm-9">
			<textarea id="mailToolBar" class="form-control" 
			 name="CUSTOMER_VERIFY_CONTENT" rows="5">[[${CUSTOMER_VERIFY_CONTENT}]]</textarea>
		</div>
	</div>
</div>
</body>
</html>