<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head('Reviews', 'none')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div th:replace="navigation:: search_nav"></div>
	
	<div class="text-center">
		<h2>Reviews posted By me</h2>
	</div>
	
	<form th:action="@{/reviews/page/1}" class="form-inline m-3">
		<input type="hidden" name="sortField" th:value="${sortField}">
		<input type="hidden" name="sortDir" th:value="${sortDir}">
		Filter:&nbsp;
		<input type="text" name="keyword" th:value="${keyword}" class="form-control field-search" required>
		&nbsp;&nbsp;
		<button type="submit" class="btn btn-primary">
			<i class="fa-solid fa-magnifying-glass fa-lg"></i>
		</button>
		&nbsp;&nbsp;
		<button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
			<i class="fa-solid fa-eraser fa-lg"></i>
		</button>
	</form>
	
	<div class="full-details">
		<table class="table table-responsive-xl table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th th:replace="fragments:: column_link('id', 'ID', 'none')"></th>
					<th th:replace="fragments:: column_link('product', 'Product', 'none')"></th>
					<th th:replace="fragments:: column_link('headline', 'HeadLine', 'none')"></th>
					<th th:replace="fragments:: column_link('rating', 'Rating', 'none')"></th>
					<th th:replace="fragments:: column_link('reviewTime', 'Review Time', 'none')"></th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="review: ${reviews}">
					<td>[[${review.id}]]</td>
					<td>
						<a th:href="@{'/p/' + ${review.product.alias}}"
						 class="link-detail-product" target="_blank">
							[[${review.product.shortName}]]
						</a>
					</td>
					<td>
						[[${review.headline}]]
					</td>
					<td>[[${review.rating}]] <i class="fa fa-star text-warning"></i></td>
					<td>[[${review.reviewTime}]]</td>
					<td>
						<a class="fa-regular fa-file fa-lg icon-green link-detail-review" 
						th:href="@{'/reviews/detail/' + ${review.id}}"
						title="View detail of this review"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div class="row m-1" th:each="review: ${reviews}">
			<div class="col-2">
				<span>[[${review.id}]]</span>
			</div>
			<div class="col-10">
				<div>
					<span>[[${review.product.shortName}]]</span>
				</div>
				<div>
					<span>[[${review.rating}]] <i class="fa fa-star"></i></span>&nbsp;
					<a class="fa-regular fa-file fa-lg icon-green link-detail-review" 
						th:href="@{'/reviews/detail/' + ${review.id}}"
						title="View detail of this review"></a> &nbsp;
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments:: pagination('/reviews', 'Reviews')"></div>
	<div class="modal fade" id="reviewDetailModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>
	
	<div th:replace="navigation:: footer_navbar"></div>
</div>
<script>
	
	moduleURL = "[[@{/reviews}]]";
	$(document).ready(function(){
		handleDetailLink(".link-detail-review", "#reviewDetailModal");
	})	
	
	function handleDetailLink(cssClass, modalId){
		$(cssClass).on('click', function(e){
			e.preventDefault();
			linkUrl = $(this).attr("href");
			$(modalId).modal("show").find(".modal-content").load(linkUrl);
		})
	}
	
	function clearFilter(){
		window.location = moduleURL;
	}
	
</script>
</body>
</html>