<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments:: page_head(${pageTitle}, 'tag')" />
	<link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" />
	<script th:src="@{/rating-star/js/star-rating.js}" ></script>
	<link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" />
	<script th:src="@{/rating-star/themes/krajee-svg/theme.js}"></script>
</head>
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation:: header_navbar"></div>
	<div th:replace="navigation:: search_nav"></div>
	
	<div>
		<h2>Write product review</h2>
	</div>	
	
	<div>
		<img th:src="@{${product.mainImagePath}}" height="200px" />
	</div>
		
	<div>
		<div><h4>[[${product.shortName}]]</h4></div>
		<div th:if="${customerReviewed}">
			<span class="text-success">You already reviewed this product</span>
		</div>
		<div th:if="${noReviewPermission}">
			<span class="text-danger">You can't review this product because you did not purchase it
				or you haven't received it?
			</span>
		</div>
	</div>
	
	<form th:if="${customerCanReview}"
		th:action="@{/post_review}" method="post" th:object="${review}" 
		style="max-width: 600px;margin: 0 auto;">
		<input type="hidden" name="productId" th:value="${product.id}"/>
		<div class="border border-secondary rounded p-3">
			<p>
				<input type="text" class="product-rating-star" data-size="md" dir="ltr"
						data-step="1"	th:field="*{rating}"/>
			</p>
			<p>
				<input type="text" th:field="*{headline}" class="form-control" required
				placeholder="Headline or summary"/>
			</p>
			<p>
				<textarea th:field="*{comment}" placeholder="Comment detail" 
				rows="3" cols="10" class="form-control" required></textarea>
			</p>
			<p>
				<input type="submit" value="Post review" class="btn btn-primary"/>
			</p>
		</div>
	</form>
	
	<div th:replace="navigation:: footer_navbar"></div>
</div>

<script>
	$(".product-rating-star").rating({
		hoverOnClear: false,
		theme: 'krajee-svg'
	})
</script>
</body>
</html>