<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments:: page_head(${pageTitle}, 'tag')" />
	<link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" />
	<script th:src="@{/rating-star/js/star-rating.js}" ></script>
	<link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" />
	<script th:src="@{/rating-star/themes/krajee-svg/theme.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div th:replace="navigation:: search_nav"></div>
	
	<div class="row m-2">
		<div class="col-xs-4">
			<img th:src="@{${product.mainImagePath}}" class="img-fluid" width="150"/>
		</div>
		<div class="col-xs-8">
			<div><h3>[[${product.name}]]</h3></div>
			<div class="row m-1">
				<div class="col-xs">
					<input type="text" class="product-detail-rating-star" data-size="md" dir="ltr"
								th:value="${product.averageRating}"/>
				</div>
				<div class="col-xs ml-1 mt-3">
					<span id="ratingNumber">[[${product.averageRating}]]</span> of 5
				</div>
			</div>
			<div class="row m-1 ml-3">
				<span>[[${product.reviewCount}]] ratings</span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col"><hr/></div>
	</div>	
		
	<div class="row m-2">
		<div class="col">
			<th:block th:each="review: ${reviews}">
				<div class="row">
					<div class="col-xs">
						<input type="text" class="product-detail-rating-star" data-size="xs" dir="ltr"
									th:value="${product.averageRating}"/>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>[[${review.headline}]]</b>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>[[${review.comment}]]</b>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<small class="ml-3">[[${review.customer.fullName}]],
							<div th:replace="fragments::format_time(${review.reviewTime})"></div>
						</small>
					</div>
				</div>
				<div class="row">
					<div class="col"><hr/></div>
				</div>	
			</th:block>
		</div>
	</div>
	
	<div th:replace="fragments:: pagination('/ratings/' + ${product.alias}, 'Reviews')"></div>
	<div th:replace="navigation:: footer_navbar"></div>
</div>
<script>
	
	decimalSeparator = "[[${DECIAML_POINT_TYPE == 'COMMA' ? ',':'.'}]]"
	thousandSeparator = "[[${THOUSANDS_POINT_TYPE == 'COMMA' ? ',':'.'}]]"
	
	$(".product-detail-rating-star").rating({
		displayOnly: true,
		hoverOnClera: false,
		showCaption: false,
		theme: 'krajee-svg'
	})
</script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/common_rating.js}"></script>
</body>
</html>