<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments:: page_head(${pageTitle}, 'tag')" />
	<link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" />
	<script th:src="@{/rating-star/js/star-rating.js}" ></script>
	<link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" />
	<script th:src="@{/rating-star/themes/krajee-svg/theme.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div th:replace="navigation:: search_nav"></div>
	
	<div class="row m-2">
		<div class="col-xs-4">
			<img th:src="@{${product.mainImagePath}}" class="img-fluid" width="150"/>
		</div>
		<div class="col-xs-8">
			<div><h3>[[${product.name}]]</h3></div>
			<div>
				&nbsp;&nbsp;
				<a th:href="@{'/ratings/' + ${product.alias} + '/page/' + ${currentPage} 
				+ '?sortField=votes&sortDir=desc'}">Sort by most votes</a>
				&nbsp;&nbsp;
				<a th:href="@{'/ratings/' + ${product.alias} + '/page/' + ${currentPage} 
								+ '?sortField=reviewTime&sortDir=desc'}">Sort by most recent</a>
			</div>
			<div class="row m-1">
				<div class="col-xs">
					<input type="text" class="product-detail-rating-star" data-size="md" dir="ltr"
								th:value="${product.averageRating}"/>
				</div>
				<div class="col-xs ml-1 mt-3">
					<span id="ratingNumber">[[${product.averageRating}]]</span> of 5
				</div>
			</div>
			<div class="row m-1 ml-3">
				<span>[[${product.reviewCount}]] ratings</span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col"><hr/></div>
	</div>	
		
	<div th:replace="reviews/review_vote::content"></div>
	
	<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments:: pagination('/ratings/' + ${product.alias}, 'Reviews')"></div>
	<div th:replace="navigation:: footer_navbar"></div>
</div>
<script>
	
	decimalSeparator = "[[${DECIAML_POINT_TYPE == 'COMMA' ? ',':'.'}]]"
	thousandSeparator = "[[${THOUSANDS_POINT_TYPE == 'COMMA' ? ',':'.'}]]"
	
	csrfHeaderName = "[[${_csrf.headerName}]]"
	csrfValue = "[[${_csrf.token}]]"
	
	$(".product-detail-rating-star").rating({
		displayOnly: true,
		hoverOnClera: false,
		showCaption: false,
		theme: 'krajee-svg'
	})
</script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/common_rating.js}"></script>
<script th:src="@{/js/review_vote.js}"></script>
<script th:src="@{/js/common_modal.js}"></script>
</body>
</html>