<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
	<div class="modal fade text-center" id="carousel-modal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div id="carousel-img" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				   	<li data-target="#carousel-img" data-slide-to="0" class="active"></li>
				  	<th:block th:each="extra, status: ${product.images}">
					    <li data-target="#carousel-img" th:data-slide-to="${status.count}"></li>
				  	</th:block>
				  </ol>
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img class="w-50" th:src="@{${product.mainImagePath}}">
				    </div>
				    <div class="carousel-item" th:each="extra: ${product.images}">
				      <img class="w-50" th:src="@{${extra.extraImage}}">
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#carousel-img" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
<!-- 				    <span class="sr-only text-dark">Previous</span> -->
				  </a>
				  <a class="carousel-control-next" href="#carousel-img" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only text-dark">Next</span>
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>