<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head(${pageTitle}, 'none')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	<div th:replace="navigation:: search_nav"></div>
	<div th:replace="breadcrumb:: content"></div>
	
	<div class="row mb-3">
		<th:block th:each="cat: ${category.children}">
			<div class="col" th:if="${cat.enabled == true}">
				<a th:href="@{'/c/' + ${cat.alias}}">
					<img th:src="@{${cat.imagePath}}" width="70px" height="70px">
					<br>
					<b>[[${cat.name}]]</b>
				</a>
			</div>
		</th:block>
	</div>
	
	<div class="row">
		<th:block th:each="product: ${products}">
			<div th:replace="product/product_fragment:: content"></div>
		</th:block>
	</div>
	
	<div th:replace="fragments:: pagination('/c/' + ${category.alias},'product')"></div>
	
	<div th:replace="navigation:: footer_navbar"></div>
</div>
</body>
</html>