<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col-sm-2" th:fragment="content">
	<a th:href="@{'/p/' + ${product.alias}}">
		<div>
			<img th:src="@{${product.mainImagePath}}" width="100px">
			<br>
			<b>[[${product.shortName}]]</b>
		</div>
	</a>
	<div th:replace="product/product_fragment:: product_price" th:remove="tag"></div>
</div>

<div th:fragment="product_price">
	<div th:if="${product.discountPercent <= 0}">
		<div th:replace="product/product_fragment:: price(${product.discountPrice})"></div>
	</div>
	<div th:if="${product.discountPercent > 0}">
		<span class="text-danger">
			<div th:replace="product/product_fragment:: price(${product.discountPrice})"></div>
		</span>
		<del><div th:replace="product/product_fragment:: price(${product.price})"></div></del>
	</div>
</div>

<div th:fragment="price(productPrice)" th:remove="tag">
	<span th:if="${CURRENCY_SYMBOL_POSITION} == 'before price'" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span> 
	[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
	<span th:if="${CURRENCY_SYMBOL_POSITION} == 'after price'" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

</body>
</html>