<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<head th:replace="fragments:: page_head(${pageTitle}, 'tag')" />
		<link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" />
		<script th:src="@{/rating-star/js/star-rating.js}" ></script>
		<link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" />
		<script th:src="@{/rating-star/themes/krajee-svg/theme.js}"></script>
		 
	</head>>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	<div th:replace="navigation:: search_nav"></div>
	<div th:replace="breadcrumb:: content"></div>
	
	<div class="row mb-3">
		<th:block th:each="cat: ${category.children}">
			<div class="col" th:if="${cat.enabled == true}">
				<a th:href="@{'/c/' + ${cat.alias}}">
					<img th:src="@{${cat.imagePath}}" width="70px" height="70px">
					<br>
					<div>
						<input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs"
								th:value="${product.averageRating}"/>
					</div>
					<b>[[${cat.name}]]</b>
				</a>
			</div>
		</th:block>
	</div>
	
	<div class="row">
		<th:block th:each="product: ${products}">
			<div th:replace="product/product_fragment:: content"></div>
		</th:block>
	</div>
	
	<div th:replace="fragments:: pagination('/c/' + ${category.alias},'product')"></div>
	
	<div th:replace="navigation:: footer_navbar"></div>
</div>

<script>
	$(".product-detail-rating-star").rating({
		displayOnly: true,
		hoverOnClera: false,
		showCaption: false,
		theme: 'krajee-svg'
	})
</script>
</body>
</html>