<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments:: page_head(${pageTitle}, 'tag')" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">	
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>	
</head>

<body>
	
<div class="container-fluid">
	<div th:replace="navigation:: navbar"></div>
	<div>
		<h2 class="text-secondary">Site Settings</h2>
	</div>
	
	<div th:replace="fragments:: message"></div>
	
	<!-- tab-header -->
	<ul class="nav nav-tabs" id="settingTab" role="tablist">
		<li class="nav-item"><a class="nav-link active"
			data-toggle="tab" href="#general" role="tab">General</a></li>
		<li class="nav-item"><a class="nav-link" 
			data-toggle="tab" href="#countries" role="tab"
			>Countries</a></li>
		<li class="nav-item"><a class="nav-link" 
			data-toggle="tab" href="#states" role="tab"
			>States</a></li>
		<li class="nav-item"><a class="nav-link" 
			data-toggle="tab" href="#mailServer" role="tab"
			>Mail Server</a></li>
		<li class="nav-item"><a class="nav-link" 
		data-toggle="tab" href="#mailTemplates" role="tab"
		>Mail Templates</a></li>
		<li class="nav-item"><a class="nav-link" 
		data-toggle="tab" href="#payment" role="tab"
		>Payment</a></li>
	</ul>

	<!-- tab-panels -->
	<div class="tab-content">
		<div class="tab-pane active p-3" id="general" role="tabpanel">
			<div th:replace="settings/general:: content"></div>
		</div>
		<div class="tab-pane p-3" id="countries" role="tabpanel">
			<div th:replace="settings/countries:: content"></div>
		</div>
		<div class="tab-pane p-3" id="states" role="tabpanel">
			<div th:replace="settings/states:: content"></div>
		</div>
		<div class="tab-pane p-3" id="mailServer" role="tabpanel">
			<div th:replace="settings/mail_server:: content"></div>
		</div>
		<div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
			<div th:replace="settings/mail_template:: content"></div>
		</div>
		<div class="tab-pane p-3" id="payment" role="tabpanel">
			<h2>Payment</h2>
		</div>
	</div>
	
	<div class="toast d-flex justify-content-center ml-3" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
	  <div role="alert" aria-live="assertive" aria-atomic="true">
	  	<div class="toast-body">
	  		<div id="toastMessage"></div>
	  	</div>
	  </div>
	</div>
	
	<div th:replace="fragments:: footer"></div>
</div>
<script>
	MAX_FILE_SIZE = 102400;
	
	contextPath = "[[@{/}]]";
	
	csrfHeaderName = "[[${_csrf.headerName}]]";
	csrfValue = "[[${_csrf.token}]]";
	
	$(document).ready(function(){
		$('#mailToolBar').richText();
	})
	
</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/countries_setting.js}"></script>
<script th:src="@{/js/states_setting.js}"></script>
</body>
</html>