<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<div>
		<p>Use this page to manage states/provinces which can be chosen by user in the customer registration form.
		   Click Load Countries List first.
		</p>
	</div>
	<div>
		<input type="button" value="Load Countries" id="btnLoadForStates" class="btn btn-primary">
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Selected country:</label>
		<div class="col-sm-10">
			<select class="form-control" id="dropdownCountryForStates">
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label mt-2">All states/provinces:</label>
		<div class="col-sm-10">
			<select class="form-control" id="dropdownStates" style="height: 200px" size="3">
			</select>
		</div>
	</div>
	<form id="formState">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label mt-2" id="labelStateName">State/Province name:</label>
			<div class="col-md mt-2">
				<input type="text" class="form-control" id="fieldStateName" required minlength="3" maxlength="45">
			</div>
			<div class="col-lg-4 mt-2">
				<input type="button" id="btnAddState" value="New" class="btn btn-secondary">
				<input type="button" id="btnUpdateState" value="Update" class="btn btn-secondary mx-1" disabled>
				<input type="button" id="btnDeleteState" value="Delete" class="btn btn-secondary" disabled>
			</div>
		</div>
	</form>
</div>
</body>
</html>