<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head('Order Completed', 'none')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation:: header_navbar"></div>
	
	<div th:replace="navigation:: search_nav"></div>
	
	<div class="text-center border rounded m-3 p-3 border-secondary">
		<h2>Your order has been completed</h2>
		<h4>A confirmation has sent to your email.</h4>
		<h4>Kindly check your email for the details.</h4>
	</div>
	
	<div th:replace="navigation:: footer_navbar"></div>
</div>
</body>
</html>